<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/styles/index.css"> <!-- Link to the new index.css -->
</head>
<body>
    <h1>{{ username }} has {{ points }} points.</h1>

    <!-- Wrapper for username and logout button -->
    <div class="header">
        <button onclick="window.location.href='/logout';">Logout</button> <!-- Logout button -->
    </div>
    <a href="/lobby">
        <img src="/static/uploads/lobby.jpg" alt="Pet Image" style="width: 400px; height: auto;">
    </a>
    

    <div class="game-links">
        <a href="/games">
            <img src="/static/uploads/game.png" alt="Game 3">
        </a>
        <a href="/manage_pets">
            <img src="/static/uploads/center.jpg" alt="Game 3">
        </a>
    </div>
</body>
</html>




